* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 14px Arial, sans-serif;
}
body {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ddd);
}
.container {
	text-align:center;
}
.headtop {
	margin-top: 50px;
	background: transparent;
}
h2 {
	display:block;
	font-family: 'Helvetica';
	text-transform:uppercase;
	letter-spacing: 2px;
    font-size: 30px;
	line-height:25px;
	margin:0 auto 15px auto;
	font-weight:bold;
	color:#fff;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
#clock {
	text-align:center;
	margin-top:30px;
}
.clock {
	display: inline-block;
    width: auto;
}
#message {
	color:#6b0b16;
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	letter-spacing:2px;
	text-shadow:0 3px 4px rgba(46, 46, 46, .3);
}
#message_holder {
	height:60px;
}
.fade {
   opacity: 1;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out
}
.fade:hover {
   opacity: 0.5
}
button {
	display:inline-block;
	font-size:16px;
	color:#fff;
	margin:5px;
	padding:5px 10px 5px 10px;
	background-image:url(http://www.hurstcreative.com/codepen/pomodoro/btn.jpg);
	background-repeat:repeat-x;
	border:none;
	border-radius:5px;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}
button:active {
	border:none;
	outline:none;
}
.btnrow {
	display:inline-block;
	margin-top:30px;
	width:100%;
}
#min {
	float:left;
}
#plus {
	float:right;
}
#custwrap {
	display:inline-block;
	max-width:100px;
	height:40px;
}
.flip-clock-dot top, .flip-clock-dot bottom {
	display:block;
}
